#root, html {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #dcdcdc; */
  /* overflow: hidden; */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:100vh;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f1f1;
}
main {
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONVERSOR */
.conversorForm, .classificadorForm {
  display: flex;
  flex-direction: column;
  /* border: 1px black solid; */
  align-items: center;
  max-width: 80%;
  margin: auto;
}
.conversorForm * {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
  margin-bottom: 10px;
}
.classificadorForm * {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.container-conv-input1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conv-input2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(rgba(219, 213, 224, .1), rgba(149, 128, 182, .1));
}
.class-input2 {
  display: flex;
  flex-direction: column;
  width: 120%;
  align-items: center;
  margin-bottom: 20px;
  /* padding: 10px; */
}
.class-input3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(rgba(219, 213, 224, .1), rgba(149, 128, 182, .1));
}
.class-input3-container {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  /* margin-top: 10px; */
}
.conv-fileNames {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px black solid; */
}
.conv-fileNames * {
  color: #fff;
  font-size: 15px;
  margin-bottom: 2px;
}
#submitButton {
  /* margin-top: 5px; */
  width: 150px;
  cursor: pointer;
  border-radius: 10px;
  height: 3.5em;
  font-size: 1.2em;
  border: 0px;
  background: linear-gradient(rgba(219, 213, 224, .1), rgba(149, 128, 182, .1));
}
.download-classify-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.download-classify {
  color: #fff;
  width: 400px;
  cursor: pointer;
  border-radius: 10px;
  height: 3.5em;
  font-size: 1.2em;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgba(219, 213, 224, .1), rgba(149, 128, 182, .1));
}
.conv-download-file {
  cursor: pointer;
  border-radius: 10px;
  height: 2em;
  margin-left: 2px;
  width: 100px;
  border: 0px;
  background: linear-gradient(rgba(219, 213, 224, .1), rgba(149, 128, 182, .1));
}
.conv-download-all {
  margin-top: 5px;
  width: 250px;
  cursor: pointer;
  border-radius: 10px;
  height: 3.5em;
  border: 0px;
  background: linear-gradient(rgba(219, 213, 224, .1), rgba(149, 128, 182, .1));
}
.conv-input1-displayrow {
  display: flex;
  margin-top: 5px;
  margin-bottom: 0px;
}
.conv-displaycol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conv-input1 {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0px;
  width: 110px;
  height: 2.5em;
  border-radius: 10px;
  margin-left: 2px;
}
.conv-input2:hover, .conv-download-file:hover, .conv-download-all:hover, #submitButton:hover, .conv-input1:hover, .class-input3:hover, .download-classify:hover {
  background: linear-gradient(rgba(149, 128, 182, .1), rgba(219, 213, 224, .1));
}
.conv-input2:active, .conv-download-file:active, .conv-download-all:active, #submitButton:active {
  background-color: rgba(255, 255, 255, .1);
}
/* CONVERSOR */

.navBtn:hover { background-color: #ff7c7c; }
.formInput:focus {
  color: #495057;
  background-color: #fff;
  border-color: #e3e3e3;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(112, 112, 112, 0.25);
}
.loginBtn:hover {
  background-color: #fa1825;
  border: 1px solid #fa1825;
}