* {
  transition: all .15s linear;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f1f1;
}

.arrows {
  position: absolute;
  right: 1.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 4rem;
  height: 96vh;
  justify-content: space-between;
}
.arrowCima, .arrowBaixo { cursor: pointer; border: none; border-radius: 50%; }
.arrowBaixo { transform: rotate(180deg); }
.custom-loader {
  --R:15px;
  --g1:#ca3b3a 96%, #0000;
  --g2:#E4E4ED 96%, #0000;
  width: calc(2*var(--R));
  height:calc(2*var(--R));
  border-radius:50%;
  display: grid;
  -webkit-mask:linear-gradient(#000 0 0);
  animation: s10 2s infinite linear;
}
.custom-loader::before,
.custom-loader::after{
  content:"";
  grid-area: 1/1;
  width:50%;
  background:
    radial-gradient(farthest-side,var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
    radial-gradient(farthest-side,var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
    radial-gradient(farthest-side,var(--g2)) calc(var(--R) + 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
    radial-gradient(farthest-side,var(--g1)) 0 calc(-1*var(--R)),
    radial-gradient(farthest-side,var(--g2)) calc(var(--R) - 0.5*var(--R)   - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
    radial-gradient(farthest-side,var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R)   - var(--R)),
    radial-gradient(farthest-side,var(--g2)) calc(-1*var(--R))  0,
    radial-gradient(farthest-side,var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) + 0.5*var(--R)   - var(--R));
   background-size:calc(2*var(--R)) calc(2*var(--R));
   background-repeat:no-repeat;
}
.custom-loader::after { transform:rotate(180deg); transform-origin:right; }
@keyframes s10 { 100% {transform: rotate(-1turn)} }
.custom-loader.conv-class, .custom-loader.consult-cnpj {
  position: absolute;
  top: 2.5rem;
  right: 18rem;
}
.custom-loader.pgto-ecac, .custom-loader.situa-fiscal {
  position: absolute;
  top: 5.2rem;
  right: 21rem;
}

/*********** LOGIN PC ***********/
.login-loginContainer {
  width: 400px;
  padding: 10px 50px 40px 50px;
  background-color: #fbfbfb;
  color: #707070;
  box-shadow: 0px 10px 10px 0px rgba(196,196,196,0.75);
}
.login-title {
  color: #cc3c3a;
  letter-spacing: 1px;
  text-align: center;
  font-family: system-ui;
  font-size: 2rem;
}
.login-centerText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-subtitle {
  font-size: 0.97rem;
  color: #878787;
}
.login-loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.login-formSpan {
  margin-top: 1rem;
  font-size: .75rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.login-formInput {
  width: 96.5%;
  height: 30px;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #e3e3e3;
  font-size: .78rem;
  color: #565656;
  transition: all .3s linear;
  padding-left: 10px;
}
.login-formInput:focus {
  color: #495057;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(112, 112, 112, 0.25);
}
.login-separator {
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  background-color: #cacaca;
}
.login-loginBtn {
  margin-top: 1rem;
  width: 100%;
  height: 35px;
  background-color: rgba(251,64,75,255);
  color: #fbfbfb;
  border: 1px solid #fb404b;
  cursor: pointer;
  font-size: 0.9rem;
}
.login-loginBtn:hover {
  background-color: #fa1825;
  border: 1px solid #fa1825;
}
/*********** LOGIN PC ***********/

/*********** HOME PC ***********/
.home-container {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.home-containerMobile { display: none; }
.home-containerPc {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
}
/*********** HOME PC ***********/

/*********** MENU PC ***********/
.menu-container {
  /* position: absolute; */
  /* position: fixed; */
  /* top: 0px; left: 0px; */
  width: 17vw;
  height: 100vh;
  background-color: #ca3b3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .15s linear;
}
.menu-titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-title {
  color: #fffcfc;
  letter-spacing: 1px;
  /* text-align: center; */
  font-family: system-ui;
  font-size: 2rem;
  margin: 0.8rem auto 0.2rem auto;
} 
.menu-separator {
  width: 90%;
  height: 1px;
  margin-bottom: 0.1rem;
  background-color: #ff9292;
}
.menu-panel {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-navGroup {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  transition: all .15s linear;
  cursor: pointer;
}
.menu-navGroupLabel {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fffcfc;
  /* padding-left: 10px; */
}
.menu-navBtn {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  margin: 0px;
  /* padding-left: 20px; */
  padding: 0px;
  height: 2.5rem;
  transition: all .15s linear;
  cursor: pointer;
  width: 100%;
}
.menu-navLabel {
  font-size: 0.8rem;
  font-weight: 200;
  color: #fffcfc;
  width: 100%;
  text-align: center;
}
.menu-navBtn:hover, .menu-navGroup:hover { background-color: #ff7c7c; }
.menu-navIcons, .menu-navIconTitle {
  width: 1rem;
  /* position: absolute; */
  /* margin: 0px; */
  margin-bottom: -1rem;
  /* top: 1rem; */
  /* right: 0px; */
  filter: brightness(0) invert(1);
  user-select: none;
}
.menu-navIconTitle {
  top: -0.8rem;
  margin-bottom: 0rem;
}
/*********** MENU PC ***********/

/*********** PAGAMENTOS ECAC PC ***********/
.pgtoEcac-containerMobile { display: none; }
.pgtoEcac-containerPc {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.pgtoEcac-paramContainer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 83vw;
}
.pgtoEcac-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83vw;
  background-color: #fbfbfb;
  padding: 0.5rem 0rem;
}
.pgtoEcac-paramTitle {
  font-size: 1.2rem;
  color: #464646d7;
  font-weight: 700;
  /* text-transform: uppercase; */
}
.pgtoEcac-paramGroupContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  color: #464646d7;
  margin-left: 0.2rem;
}
/* .pgtoEcac-paramGroupContainer {
} */
.pgtoEcac-paramGroupContainer > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.pgtoEcac-paramGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* width: 10rem; */
  margin: 0px;
}
.pgtoEcac-paramLabel {
  font-size: 0.9rem;
  width: auto;
  /* margin-right: 0.5rem; */
}
.pgtoEcac-input {
  text-align: center;
  width: 97%;
  color: #464646d7;
  transition: all .15s linear;
  border: 0.5px solid #e3e3e3;
  border-radius: 5px;
  font-size: 0.9rem;
  height: 1.45rem;
  margin-left: 5px;
  padding: 0px;
}
.certify-input {
  width: auto;
  /* height: 5rem;  */
}
.pgtoEcac-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(112, 112, 112, 0.25);
}
.initDate-input, .endDate-input, .initDate-label, .endDate-label {
  text-align: center;
  width: 8rem;
}
.senha-input, .cnpj-input {
  width: 9rem;
}
.pgtoEcac-paramGroupBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 50vw;
}
.pgtoEcac-paramGroupBtns button {
  margin-top: 0.5rem;
  height: 1.6rem;
  width: 6rem;
  color: #fbfbfb;
  background-color: #fb404b;
  border: 1px solid #fb404b;
  border-radius: 5px;
  transition: all .15s linear;
  box-shadow: 0 0.2rem 0.1rem 0.05rem rgba(112, 112, 112, 0.25);
}
.pgtoEcac-paramGroupBtns button:first-child { margin-right: 1rem; }
.pgtoEcac-paramGroupBtns button:hover {
  background-color: #fa1825;
  border: 1px solid #fa1825;
}
.pgtoEcac-paramGroupBtns button:active { box-shadow: none; }
.pgtoEcac-btContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute;
  right: 2rem;
  top: 1rem; */
  width: 5vw;
  /* height: auto ; */
}
.pgtoEcac-btContainer * {
  margin-bottom: 0.3rem;
}
.pgtoEcac-dataTableContainer {
  /* width: 83vw; */
  display: flex;
  justify-content: center;
  height: auto;
  padding: 2rem;
  overflow: auto;
}
.pgtoEcac-dataTable {
  width: 100%;
  background-color: #fbfbfb;
  text-align: center;
  padding: 0.5rem 1rem;
  table-layout: fixed;
  width: 50rem;
}
.pgtoEcac-dataTable td {
  color: #464646d7;
  border: 0.5px solid #e3e3e3;
  font-size: 0.9rem;
  height: 1rem;
  margin: 0px;
  padding: 0px;
}
.pgtoEcac-dataTableIcon {
  height: 90%;
}
/*********** PAGAMENTOS ECAC PC ***********/

/*********** CONSULTA CNPJ PC ***********/
.consultCnpj-containerMobile { display: none; }
.consultCnpj-containerPc {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* overflow: auto; */
}
.consultCnpj-paramContainer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 83vw;
}
.consultCnpj-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83vw;
  background-color: #fbfbfb;
  padding: 0.5rem 0rem;
}
.consultCnpj-paramTitle {
  font-size: 1.2rem;
  color: #464646d7;
  font-weight: 700;
  /* text-transform: uppercase; */
}
.consultCnpj-paramGroupContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
.consultCnpj-paramGroupContainer * {
  color: #464646d7;
  margin-left: 0.2rem;
}
.consultCnpj-paramGroupContainer > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.consultCnpj-paramGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* width: 10rem; */
  margin: 0px;
}
.consultCnpj-paramLabel {
  font-size: 0.9rem;
  width: auto;
  /* margin-right: 0.5rem; */
}
.consultCnpj-input {
  text-align: center;
  width: 97%;
  color: #464646d7;
  transition: all .15s linear;
  border: 0.5px solid #e3e3e3;
  border-radius: 5px;
  font-size: 0.9rem;
  height: 1.45rem;
  margin-left: 5px;
  padding: 0px;
}
.consultCnpj-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(112, 112, 112, 0.25);
}
.cnpj-input { width: 9rem; }
.consultCnpj-paramGroupBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 50vw;
}
.consultCnpj-paramGroupBtns button {
  margin-top: 0.5rem;
  height: 1.6rem;
  width: 6rem;
  color: #fbfbfb;
  background-color: #fb404b;
  border: 1px solid #fb404b;
  border-radius: 5px;
  transition: all .15s linear;
  box-shadow: 0 0.2rem 0.1rem 0.05rem rgba(112, 112, 112, 0.25);
}
.consultCnpj-paramGroupBtns button:first-child {
  margin-right: 1rem;
}
.consultCnpj-paramGroupBtns button:hover {
  background-color: #fa1825;
  border: 1px solid #fa1825;
}
.consultCnpj-paramGroupBtns button:active { box-shadow: none; }
.consultCnpj-dataContainer {
  background-color: #f1f1f1;
  display: flex;
  padding: 2rem;
}
.consultCnpj-dataContent {
  width: 100%;
  height: 72vh;
  background-color: #fbfbfb;
  text-align: center;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.consultCnpj-dataGroup {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  margin: 0.3rem 0rem;
}
.consultCnpj-dataGroup > * {
  font-size: 0.9rem;
  color: #323232d8;
}
.consultCnpj-dataGroup > span { font-weight: 700; }
.consultCnpj-dataGroup > div {
  background-color: #f1f1f1;
  padding: 0.2rem;
  margin-left: 0.5rem;
  border: 0.5px inset #e3e3e3;
}
.consultCnpj-dataContentSeparator {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  color: #323232;
  font-weight: 700;
}
.consultCnpj-atvSec, .consultCnpj-socios {
  flex-direction: column;
  align-items: flex-start;
}
.consultCnpj-atvSec > div, .consultCnpj-socios > div {
  margin: 0px;
}
.consultCnpj-socioGroup { padding: 0rem 0.5rem; }
.consultCnpj-socioGroup > span { font-weight: 700; }
/* .consultCnpj-socioGroup:nth-child(2) {
  margin-bottom: 1rem;
} */
.consultCnpj-atvSec > span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  cursor: pointer;
  border: 0.5px outset #e3e3e3;
}
/*********** CONSULTA CNPJ PC ***********/

/*********** SITUAÇÃO FISCAL PC ***********/
.situaFiscal-containerMobile { display: none; }
.situaFiscal-containerPc {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* overflow: auto; */
}
.situaFiscal-paramContainer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 83vw;
}
.situaFiscal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83vw;
  background-color: #fbfbfb;
  padding: 0.5rem 0rem;
}
.situaFiscal-paramTitle {
  font-size: 1.2rem;
  color: #464646d7;
  font-weight: 700;
  /* text-transform: uppercase; */
}
.situaFiscal-paramGroupContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
.situaFiscal-paramGroupContainer * {
  color: #464646d7;
  margin-left: 0.2rem;
}
.situaFiscal-paramGroupContainer > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.situaFiscal-paramGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* width: 10rem; */
  margin: 0px;
}
.situaFiscal-paramLabel {
  font-size: 0.9rem;
  width: auto;
  /* margin-right: 0.5rem; */
}
.situaFiscal-input {
  text-align: center;
  width: 97%;
  color: #464646d7;
  transition: all .15s linear;
  border: 0.5px solid #e3e3e3;
  border-radius: 5px;
  font-size: 0.9rem;
  height: 1.45rem;
  margin-left: 5px;
  padding: 0px;
}
.situaFiscal-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(112, 112, 112, 0.25);
}
.cnpj-input { width: 9rem; }
.situaFiscal-paramGroupBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 50vw;
}
.situaFiscal-paramGroupBtns button {
  margin-top: 0.5rem;
  height: 1.6rem;
  width: 6rem;
  color: #fbfbfb;
  background-color: #fb404b;
  border: 1px solid #fb404b;
  border-radius: 5px;
  transition: all .15s linear;
  box-shadow: 0 0.2rem 0.1rem 0.05rem rgba(112, 112, 112, 0.25);
}
.situaFiscal-paramGroupBtns button:first-child {
  margin-right: 1rem;
}
.situaFiscal-paramGroupBtns button:hover {
  background-color: #fa1825;
  border: 1px solid #fa1825;
}
.situaFiscal-paramGroupBtns button:active { box-shadow: none; }
.situaFiscal-dataContainer {
  background-color: #f1f1f1;
  display: flex;
  padding: 2rem;
}
.situaFiscal-dataContent {
  width: 100%;
  height: 72vh;
  background-color: #fbfbfb;
  text-align: center;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.situaFiscal-dataGroup {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  margin: 0.3rem 0rem;
}
.situaFiscal-dataGroup > * {
  font-size: 0.9rem;
  color: #323232d8;
}
.situaFiscal-dataGroup > span { font-weight: 700; }
.situaFiscal-dataGroup > div {
  background-color: #f1f1f1;
  padding: 0.2rem;
  margin-left: 0.5rem;
  border: 0.5px inset #e3e3e3;
}
.situaFiscal-dataContentSeparator {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  color: #323232;
  font-weight: 700;
}
.situaFiscal-atvSec, .situaFiscal-socios {
  flex-direction: column;
  align-items: flex-start;
}
.situaFiscal-atvSec > div, .situaFiscal-socios > div {
  margin: 0px;
}
.situaFiscal-socioGroup { padding: 0rem 0.5rem; }
.situaFiscal-socioGroup > span { font-weight: 700; }
.situaFiscal-atvSec > span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  cursor: pointer;
  border: 0.5px outset #e3e3e3;
}
/*********** SITUAÇÃO FISCAL PC ***********/

/*********** CONVERSOR CLASSIFICADOR ***********/
.convClass-containerPc {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.convClass-mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 83vw;
  height: 100vh;
  overflow-y: auto;
}
.convClass-fileContainer {
  padding: 0rem 2rem;
  width: 77vw;
}
.convClass-fileContainer > * {
  color: #464646d7;
}
.convClass-fileContainer > h3 {
  margin-bottom: 0.4rem;
}
.convClass-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83vw;
  background-color: #fbfbfb;
  padding: 0.5rem 0rem;
}
.convClass-formTitle {
  font-size: 1.2rem;
  color: #464646d7;
  font-weight: 700;
  /* text-transform: uppercase; */
}
.convClass-inputFiles, .convClass-filesGroup > input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  height: 1.6rem;
  text-align: center;
  width: 15rem;
  color: #fbfbfb;
  background-color: rgb(158, 43, 43);
  border: 1px solid rgb(158, 43, 43);
  border-radius: 5px;
  transition: all .15s linear;
  box-shadow: 0 0.2rem 0.1rem 0.05rem rgba(112, 112, 112, 0.25);
  cursor: pointer;
}
.convClass-inputFiles:hover {
  background-color: #fa1825;
  border: 1px solid #fa1825;
}
.convClass-inputFiles:active { box-shadow: none; }
.convClass-filesGroup {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  /* justify-self: center; */
  max-width: 30rem;
  justify-content: center space-between;
}
.convClass-filesGroup > div {
  background-color: #f1f1f1;
  color: #464646d7;
  padding: 0.5rem;
  border-radius: 5px;
}
.convClass-filesGroup > input {
  width: 6rem;
  margin-left: 0.5rem;
}
.convClass-filesGroup > input:hover {
  background-color: #fa1825;
  border: 1px solid #fa1825;
}
.convClass-fileNames {
  display: flex;
  flex-direction: column;
}
.convClass-filesMerge {
  display: flex;
  margin-top: 0.4rem;
  color: #464646d7;
}
.convClass-fileName {
  margin: 0.8rem;
  font-size: 1.3rem;
}
.convClass-fileHeader {
  display: flex;
  align-items: baseline;
}
.convClass-fileHeader > div:nth-child(2) {
  margin-left: 1rem;
  display: flex;
}
.convClass-inputSaldoI, .convClass-fileName > input {
  margin-left: 0.5rem;
  width: 6rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #e3e3e3;
  font-size: .78rem;
  color: #565656;
  padding: 0.05rem 0.2rem;
  height: auto;
}
.convClass-inputSaldoI:focus, .convClass-fileName > input:focus {
  color: #495057;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(112, 112, 112, 0.25);
}
.convClass-fileName > input {
  font-size: 1rem;
  width: 16rem;
}
.convClass-tableHeader {
  display: flex;
  height: 1.5rem;
  margin-bottom: 0rem;
  margin-top: 0.3rem;
  align-items: end;
}
.convClass-tableHeader > h5 {
  height: 1rem;
  margin: 0;
  text-align: center;
  cursor: pointer;
}
.convClass-tableHeader > h5:nth-child(1) { width: 5.4rem; }
.convClass-tableHeader > h5:nth-child(2) { width: 35.4rem; }
.convClass-tableHeader > h5:nth-child(3) { width: 6.4rem; }
.convClass-tableHeader > h5:nth-child(4) { width: 7rem; }
.convClass-tableRow {
  display: flex;
  flex-direction: row;
}
.tableData {
  width: 5rem;
  text-align: center;
}
.tableHist {
  width: 35rem;
  padding-left: 0.2rem;
}
.tableValor {
  width: 6rem;
  padding-left: 0.2rem;
}
.convClass-table {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: none;
  border: 0.5px solid #e3e3e3;
  font-size: .78rem;
  color: #565656;
  height: 1.2rem;
}
.tableSoma {
  width: 6rem;
  padding-top: 0.17rem;
  padding-left: 0.5rem;
  border: none;
  background-color: rgb(0,0,0,0);
  font-size: 0.9rem;
}
.tableExcluir {
  border: none;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: relative;
  border-radius: 0px;
  top: 2px;
  width: 1rem;
  height: 1rem;
  margin-left: 4px;
  background-color: #f1f1f1;
}
.tableExcluir + label {
  margin-left: 4px;
}
.convClass-tableIcon1, .convClass-tableIcon2 {
  width: 14px;
  height: 3px;
  position: relative;
  background-color: #fb404b;
  border: none;
  margin: 0px;
  padding: 0px;
  transform: rotate(45deg);
  top: 1px;
  cursor: pointer;
}
.convClass-tableIcon2 {
  transform: rotate(-45deg);
  top: -2px;
}
.tableAdd {
  border: none;
  margin-left: 4px;
  padding: 0px;
  cursor: pointer;
  position: relative;
  border-radius: 0px;
  top: 2px;
  width: 1rem;
  height: 1rem;
  background-color: #f1f1f1;
}
.convClass-tableIcon3, .convClass-tableIcon4 {
  width: 12px;
  height: 3px;
  position: relative;
  background-color: #41eb2e;
  border: none;
  margin: 0px;
  padding: 0px;
  /* transform: rotate(45deg); */
  top: 4px;
  cursor: pointer;
}
.convClass-tableIcon4 {
  transform: rotate(90deg);
  top: 1px;
  left: 0px;
  /* width: 12px; */
}
.convClass-table.tableAdd > .convClass-tableIcon3 { top: 1px; }
.convClass-table.tableAdd > .convClass-tableIcon4 { top: -1px; }
.convClass-endButtonsContainer {
  margin: 2rem;
  min-height: 280px;
}
.convClass-divSaldo {
  display: flex;
  flex-direction: column;
}
.convClass-divSaldo > label:nth-child(2) > input {
  width: 2rem;
}
.convClass-downloadAll, .convClass-classify {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  height: 2rem;
  font-size: 1.6rem;
  text-align: center;
  width: 15rem;
  color: #fbfbfb;
  background-color: rgb(158, 43, 43);
  border: 1px solid rgb(158, 43, 43);
  border-radius: 5px;
  transition: all .15s linear;
  box-shadow: 0 0.2rem 0.1rem 0.05rem rgba(112, 112, 112, 0.25);
  cursor: pointer;
}
.convClass-downloadAll:hover, .convClass-classify:hover {
  background-color: #fa1825;
  border: 1px solid #fa1825;
}
.convClass-classify:active { box-shadow: none; }
.convClass-tabelaClassificadoContainer { margin: 1rem auto; }
.convClass-tabelaClassificadoContainer * { color: #464646d7; }
.convClass-classificadoHeader { display: flex; align-items: center; }
.convClass-classificadoHeader > span { cursor: pointer; }
.convClass-classificadoHeader > span:nth-child(1) { width: 5.35rem; text-align: center; }
.convClass-classificadoHeader > span:nth-child(2) { width: 24.9rem; padding-left: 0.5rem; }
.convClass-classificadoHeader > span:nth-child(3) { width: 5.45rem; text-align: center; }
.convClass-classificadoHeader > span:nth-child(4) { width: 2.9rem; text-align: center; }
.convClass-classificadoHeader > span:nth-child(5) { width: 2.9rem; text-align: center; }
.convClass-classificadoLinha > input:nth-child(1) { width: 5rem; text-align: center; }
.convClass-classificadoLinha > input:nth-child(2) { width: 25rem; }
.convClass-classificadoLinha > input:nth-child(3) { width: 5rem; }
.convClass-classificadoLinha > input:nth-child(4) { width: 2.5rem; text-align: center; }
.convClass-classificadoLinha > input:nth-child(5) { width: 2.5rem; text-align: center; }
.convClass-classificadoLinha { display: flex;}
.convClass-classificadoLinha > input {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: none;
  border: 0.5px solid #e3e3e3;
  font-size: .78rem;
  height: 1.2rem;
}
.convClass-subDivBtns {
  display: flex;
  /* position: relative; */
  margin-left: 0.5rem;
}
.convClass-subDivBtns > button { top: 4px; }
.convClass-selectsContainer {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0rem 3rem 0.6rem;
  font-size: 1.3rem;}
.convClass-selectsContainer > label {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
  color: #464646d7;
}
.convClass-selects {
  margin-left: 0.5rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: none;
  border: 0.5px solid #e3e3e3;
  font-size: 1rem;
  height: 1.5rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  color: #464646d7;
}
.convClass-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: -.5rem auto 1rem auto; */
  height: 1.6rem;
  font-size: 1rem;
  text-align: center;
  width: 8rem;
  color: #fbfbfb;
  background-color: rgb(158, 43, 43);
  border: 1px solid rgb(158, 43, 43);
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.1rem 0.05rem rgba(112, 112, 112, 0.25);
  cursor: pointer;
}
.convClass-confirm:hover {
  background-color: #fa1825;
  border: 1px solid #fa1825;
}
.convClass-confirm:active { box-shadow: none; }
.endButtonsClassify { display: flex; flex-direction: column; align-items: center; }
.downloadClassify { width: 20rem; }
.cancelClassify { width: 10rem; font-size: 1.4rem; }
/*********** CONVERSOR CLASSIFICADOR ***********/

/*********** DATABASE CLASSIFICADOR ***********/
.db-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.db-mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 83vw;
  height: 100vh;
  overflow-y: auto;
}
.db-header {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.db-title {
  font-size: 1.2rem;
  color: #464646d7;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
}
.db-confirm, .dbAddConfirm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -.5rem auto 1rem auto;
  height: 1.6rem;
  font-size: 1rem;
  text-align: center;
  width: 8rem;
  color: #fbfbfb;
  background-color: rgb(158, 43, 43);
  border: 1px solid rgb(158, 43, 43);
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.1rem 0.05rem rgba(112, 112, 112, 0.25);
  cursor: pointer;
}
.db-confirm:hover, .dbAddConfirm:hover {
  background-color: #fa1825;
  border: 1px solid #fa1825;
}
.db-confirm:active, .dbAddConfirm:active { box-shadow: none; }
.db-content {
  display: flex;
  flex-direction: column;
}
.db-divEscritorio, .db-divEmpresa, .db-divBanco, .db-divTabela {
  margin: 1rem;
  color: #464646d7;
}
.db-divBanco { margin-left: 3rem; }
.db-subDivHeader { display: flex; }
.db-subDivBtns {
  position: relative;
  top: -5px;
  margin-left: 0.7rem;
}
.dbAddContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-top: 0px;
}
.dbAddContainer > div {
  display: flex;
}
.dbAddLabel {
  display: flex;
  margin-bottom: 0.3rem;
}
.dbAddLabel > input { margin-left: 0.5rem; }
.dbAddConfirm {
  margin: 1rem 0px;
  margin-right: 0.5rem;
}
.db-divTabela {
  display: flex;
  flex-direction: column;
}
.db-headerTabela {
  display: flex;
}
.db-headerTabela > span:nth-child(1), .db-linhaTabela > .fieldTableDb:nth-child(1) {width: 20rem;}
.db-headerTabela > span:nth-child(2), .db-linhaTabela > .fieldTableDb:nth-child(2) { text-align: center; width: 3rem; }
.db-headerTabela > span:nth-child(3), .db-linhaTabela > .fieldTableDb:nth-child(3) { text-align: center; width: 4rem; }
.db-headerTabela > span {
  margin: 0 3.2px;
}
.db-linhaTabela, .db-linhaTabela > div { display: flex; }
.db-linhaTabela > .fieldTableDb {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: none;
  border: 0.5px solid #e3e3e3;
  font-size: .78rem;
  height: 1.2rem;
  color: #464646d7;
}
.convClass-table.tableExcluir.conv-class-file-name { top: -2px; }
.convClass-table.tableExcluir.conv-class-table { top: 3px; }
.convClass-table.tableAdd.db { top: 1px; }
.convClass-tableIcon1.db { top: 3px; }
.convClass-tableIcon2.db { top: 0px; }
.convClass-tableIcon3.db { top: 8px; }
.convClass-tableIcon4.db { top: 6px; }
/*********** DATABASE CLASSIFICADOR ***********/





/****************************************************/
/********************** MOBILE **********************/
/****************************************************/
@media screen and (max-width: 1023px) {
  #root, body, html {
    height: 90vh;
  }
  /*********** LOGIN MOBILE ***********/
  .login-loginContainer { width: 65%; border-radius: 5px; }
  .login-title { font-size: 2.4rem; }
  .login-subtitle {
    font-size: 0.9rem;
    margin-top: -1rem;
  }
  /* .login-loginForm { align-items: center;} */
  .login-separator { margin: 1rem 0px; }
  .login-formSpan { font-size: 0.6rem; }
  .login-formInput {
    font-size: 0.8rem;
    height: 2rem;
    width: 95%;
    border-radius: 5px;
  }
  .login-loginBtn {
    margin: 0rem auto -1rem auto;
    font-size: 1rem;
    height: 2.4rem;
    width: 75%;
    border-radius: 5px;
  }
  /*********** LOGIN MOBILE ***********/

  /*********** HOME MOBILE ***********/
  .home-containerPc { display: none; }
  .home-containerMobile {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  /*********** HOME MOBILE ***********/

  /*********** MENU MOBILE ***********/
  .menu-container {
    position: inherit;
    width: 100vw;
    height: auto;
    /* mari */
    /* overflow: auto; */
    background-color: #ca3b3a;
  }
  .menu-titleContainer {
    width: 100vw;
    height: 12vh;
    position: fixed;
    top: 0px;
    z-index: 2;
    background-color: #ca3b3a;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-title { font-size: 2rem; }
  .menu-separator { margin: 0.2rem auto 0.2rem auto; }
  .menu-panel {
    width: 100vw;
    z-index: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 16vh; */
    position: absolute;
    top: 12vh;
  }
  .menu-spacer {
    width: 100vw;
    height: 3rem;
  }
  .menu-navGroup {
    background-color: #ca3b3a;
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    transition: all .15s linear;
  }
  .menu-navGroupLabel {
    font-size: 0.9rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    color: #fffcfc;
  }
  .menu-navBtn {
    transition: all .15s linear;
    width: 100vw;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ca3b3a;
    margin: 0px;
    padding: 0px;
  }
  .menu-navBtn span { font-size: 0.7rem; }
  .menu-navIcons, .menu-navIconTitle {
    width: 0.8rem;
    /* position: absolute; */
    /* margin: 0px; */
    /* right: 1.5rem; */
    filter: brightness(0) invert(1);
  }
  .menu-navIconTitle {
    position: relative;
    right: 0rem;
    top: 0rem;
    margin-top: -0.2rem;
    width: 1rem;
  }
  .menu-navLabel {
    font-size: 1.9rem;
    font-weight: 200;
    text-align: center;
    color: #fffcfcdf;
  }
  /*********** MENU MOBILE ***********/

  /*********** PAGAMENTOS ECAC MOBILE ***********/
  .pgtoEcac-containerPc { display: none; }
  .pgtoEcac-containerMobile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .pgtoEcac-paramContainer {
    width: 100vw;
    margin: 0px;
    margin-top: 18vh;
  }
  .pgtoEcac-header {
    width: 100%;
    padding: 0px;
    padding-top: 0.6rem;
  }
  .pgtoEcac-paramTitle {
    font-size: 1rem;
  }
  .pgtoEcac-paramGroupContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
    padding: 0.2rem 0.6rem;
    /* padding-bottom: 0px; */
  }
  .pgtoEcac-paramGroupContainer > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .pgtoEcac-paramGroup {
    height: auto;
    flex-direction: column;
  }
  .pgtoEcac-paramLabel {
    height: 1.2rem;
    font-size: 1rem;
    width: auto;
  }
  .pgtoEcac-input {
    height: 1.5rem;
    font-size: 1rem;
    width: 50vw;
    margin-bottom: 0.7rem;
    border-radius: 5px;
  }
  .certify-input { width: 90vw; }
  .initDate-input, .endDate-input {
    width: 35vw;
  }
  .pgtoEcac-paramGroupBtns {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .pgtoEcac-paramGroupBtns button {
    width: 30vw;
    font-size: 1rem;
    height: 1.5rem;
    border-radius: 5px;
  }
  .pgtoEcac-dataTableContainer {
    padding: 0.8rem;
  }
  .pgtoEcac-dataTable th{
    height: 1rem;
    font-size: 0.7rem;
    padding: 0px;
  }
  .pgtoEcac-dataTable td {
    font-size: 0.6rem;
  }
  .pgtoEcac-dataTableIcon {
    height: 0.6rem;
  }
  /*********** PAGAMENTOS ECAC MOBILE ***********/

  /*********** CONSULTA CNPJ MOBILE ***********/
  .consultCnpj-containerPc { display: none; }
  .consultCnpj-containerMobile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    margin-top: 0rem;
    align-items: center;
  }
  .consultCnpj-paramContainer {
    width: 94vw;
    margin: 0px;
    margin-top: 13vh;
    /* position: absolute; */
    /* margin-right: 0.5rem; */
  }
  .consultCnpj-header {
    width: 100%;
    padding: 0px;
    padding-top: 0.6rem;
  }
  .consultCnpj-paramTitle {
    font-size: 1rem;
    /* text-transform: uppercase; */
  }
  .consultCnpj-paramGroupContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
    padding: 0rem 0.6rem;
  }
  .consultCnpj-paramGroupContainer:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .consultCnpj-paramGroup {
    height: auto;
    flex-direction: column;
    margin-top: 0px;
  }
  .consultCnpj-paramLabel {
    height: 1.3rem;
    font-size: 1rem;
    width: auto;
    margin: 0px;
  }
  .consultCnpj-input {
    height: 1.5rem;
    font-size: 1rem;
    width: 50vw;
    margin: 0px;
    margin-bottom: 0.8rem;
    padding: 0px;
    border-radius: 5px;
  }
  .consultCnpj-paramGroupBtns {
    width: 100%;
    margin-bottom: 1rem;
  }
  .consultCnpj-paramGroupBtns button {
    width: 25vw;
    font-size: 1rem;
    height: 1.8rem;
    border-radius: 5px;
  }
  .consultCnpj-dataContainer {
    padding: 1rem 0rem;
    /* overflow: none; */
  }
  .consultCnpj-dataContent {
    overflow: visible;
    height: auto;
  }
  .consultCnpj-dataGroup * {
    font-size: 0.7rem;
  }
  .consultCnpj-dataGroup:nth-child(9) {
    margin-left: 3.4rem;
  }
  .consultCnpj-dataContentSeparator {
    font-size: 1rem;
  }
  .consultCnpj-atvSec { width: 100%; align-items: center; }
  .consultCnpj-atvSec > span {
    /* width: 100%; */
    margin: 0rem auto;
  }
  /*********** CONSULTA CNPJ MOBILE ***********/

  /*********** SITUAÇÃO FISCAL MOBILE ***********/
  .situaFiscal-containerPc { display: none; }
  .situaFiscal-containerMobile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    margin-top: 0rem;
    align-items: center;
  }
  .situaFiscal-paramContainer {
    width: 94vw;
    margin: 0px;
    margin-top: 13vh;
    /* position: absolute; */
    /* margin-right: 0.5rem; */
  }
  .situaFiscal-header {
    width: 100%;
    padding: 0px;
    padding-top: 0.6rem;
  }
  .situaFiscal-paramTitle {
    font-size: 1rem;
    /* text-transform: uppercase; */
  }
  .situaFiscal-paramGroupContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
    padding: 0rem 0.6rem;
  }
  .situaFiscal-paramGroupContainer:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .situaFiscal-paramGroup {
    height: auto;
    flex-direction: column;
    margin-top: 0px;
  }
  .situaFiscal-paramLabel {
    height: 1.3rem;
    font-size: 1rem;
    width: auto;
    margin: 0px;
  }
  .situaFiscal-input {
    height: 1.5rem;
    font-size: 1rem;
    width: 50vw;
    margin: 0px;
    margin-bottom: 0.8rem;
    padding: 0px;
    border-radius: 5px;
  }
  .situaFiscal-paramGroupBtns {
    width: 100%;
    margin-bottom: 1rem;
  }
  .situaFiscal-paramGroupBtns button {
    width: 25vw;
    font-size: 1rem;
    height: 1.8rem;
    border-radius: 5px;
  }
  .situaFiscal-dataContainer {
    padding: 1rem 0rem;
    /* overflow: none; */
  }
  .situaFiscal-dataContent {
    overflow: visible;
    height: auto;
  }
  .situaFiscal-dataGroup * {
    font-size: 0.7rem;
  }
  .situaFiscal-dataGroup:nth-child(9) {
    margin-left: 3.4rem;
  }
  .situaFiscal-dataContentSeparator {
    font-size: 1rem;
  }
  .situaFiscal-atvSec { width: 100%; align-items: center; }
  .situaFiscal-atvSec > span {
    /* width: 100%; */
    margin: 0rem auto;
  }
  /*********** SITUAÇÃO FISCAL MOBILE ***********/
}