html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f1f1;
}

/*********** LOGIN PC ***********/
.login-loginContainer {
  width: 400px;
  padding: 10px 50px 40px 50px;
  background-color: #fbfbfb;
  color: #707070;
  box-shadow: 0px 10px 10px 0px rgba(196,196,196,0.75);
}
.login-title {
  color: #cc3c3a;
  letter-spacing: 1px;
  text-align: center;
  font-family: system-ui;
  font-size: 2rem;
}
.login-centerText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-subtitle {
  font-size: 0.97rem;
  color: #878787;
}
.login-loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.login-formSpan {
  margin-top: 1rem;
  font-size: .75rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.login-formInput {
  width: 96.5%;
  height: 30px;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #e3e3e3;
  font-size: .78rem;
  color: #565656;
  transition: all .3s linear;
  padding-left: 10px;
}
.login-formInput:focus {
  color: #495057;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(112, 112, 112, 0.25);
}
.login-separator {
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  background-color: #cacaca;
}
.login-loginBtn {
  margin-top: 1rem;
  width: 100%;
  height: 35px;
  background-color: rgba(251,64,75,255);
  color: #fbfbfb;
  border: 1px solid #fb404b;
  cursor: pointer;
  font-size: 0.9rem;
}
.login-loginBtn:hover {
  background-color: #fa1825;
  border: 1px solid #fa1825;
}
/*********** LOGIN PC ***********/

/*********** HOME PC ***********/
.home-container {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.home-containerMobile { display: none; }
.home-containerPc {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
}
/*********** HOME PC ***********/

/*********** MENU PC ***********/
.menu-container {
  /* position: absolute; */
  /* position: fixed; */
  /* top: 0px; left: 0px; */
  width: 17vw;
  height: 100vh;
  background-color: #ca3b3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .15s linear;
}
.menu-titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-title {
  color: #fffcfc;
  letter-spacing: 1px;
  text-align: center;
  font-family: system-ui;
  font-size: 2rem;
  margin: 0.8rem auto 0.2rem auto;
} 
.menu-separator {
  width: 90%;
  height: 1px;
  margin-bottom: 1rem;
  background-color: #ff9292;
}
.menu-panel {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.menu-navGroup {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  transition: all .15s linear;
  cursor: pointer;
}
.menu-navGroupLabel {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fffcfc;
  padding-left: 10px;
}
.menu-navBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding-left: 20px;
  height: 2.5rem;
  transition: all .15s linear;
  cursor: pointer;
}
.menu-navLabel {
  font-size: 0.8rem;
  font-weight: 200;
  color: #fffcfc;
}
.menu-navBtn:hover, .menu-navGroup:hover { background-color: #ff7c7c; }
.menu-navIcons, .menu-navIconTitle {
  width: 1rem;
  position: relative;
  margin: 0px;
  right: 0px;
  filter: brightness(0) invert(1);
  user-select: none;
}
.menu-navIconTitle {
  top: -0.8rem;
  margin-bottom: -0.6rem;
}
/*********** MENU PC ***********/

/*********** PAGAMENTOS ECAC PC ***********/
.pgtoEcac-containerMobile { display: none; }
.pgtoEcac-containerPc {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.pgtoEcac-paramContainer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 83vw;
}
.pgtoEcac-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83vw;
  background-color: #fbfbfb;
  padding: 0.5rem 0rem;
}
.pgtoEcac-paramTitle {
  font-size: 1.2rem;
  color: #464646d7;
  font-weight: 700;
  /* text-transform: uppercase; */
}
.pgtoEcac-paramGroupContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  color: #464646d7;
  margin-left: 0.2rem;
}
/* .pgtoEcac-paramGroupContainer {
} */
.pgtoEcac-paramGroupContainer > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.pgtoEcac-paramGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* width: 10rem; */
  margin: 0px;
}
.pgtoEcac-paramLabel {
  font-size: 0.9rem;
  width: auto;
  /* margin-right: 0.5rem; */
}
.pgtoEcac-input {
  text-align: center;
  width: 97%;
  color: #464646d7;
  transition: all .15s linear;
  border: 0.5px solid #e3e3e3;
  font-size: 0.9rem;
  height: 1.45rem;
  margin-left: 5px;
  padding: 0px;
}
.certify-input {
  width: auto;
  /* height: 5rem;  */
}
.pgtoEcac-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(112, 112, 112, 0.25);
}
.initDate-input, .endDate-input, .initDate-label, .endDate-label {
  text-align: center;
  width: 8rem;
}
.senha-input, .cnpj-input {
  width: 9rem;
}
.pgtoEcac-paramGroupBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 50vw;
}
.pgtoEcac-paramGroupBtns button {
  margin-top: 0.5rem;
  height: 1.6rem;
  width: 6rem;
  color: #464646d7;
}
.pgtoEcac-paramGroupBtns button:first-child {
  margin-right: 1rem;
}
.pgtoEcac-btContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute;
  right: 2rem;
  top: 1rem; */
  width: 5vw;
  /* height: auto ; */
}
.pgtoEcac-btContainer * {
  margin-bottom: 0.3rem;
}
.pgtoEcac-dataTableContainer {
  /* width: 83vw; */
  display: flex;
  justify-content: center;
  /* height: auto; */
  padding: 2rem;
  /* overflow: auto; */
}
.pgtoEcac-dataTable {
  width: 100%;
  background-color: #fbfbfb;
  text-align: center;
  padding: 0.5rem 1rem;
  table-layout: fixed;
  width: 50rem;
}
.pgtoEcac-dataTable td {
  color: #464646d7;
  border: 0.5px solid #e3e3e3;
  font-size: 0.9rem;
  height: 1rem;
  margin: 0px;
  padding: 0px;
}
.pgtoEcac-dataTableIcon {
  height: 90%;
}
/*********** PAGAMENTOS ECAC PC ***********/

/*********** CONSULTA CNPJ PC ***********/
.consultCnpj-containerMobile { display: none; }
.consultCnpj-containerPc {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* overflow: auto; */
}
.consultCnpj-paramContainer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 83vw;
}
.consultCnpj-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83vw;
  background-color: #fbfbfb;
  padding: 0.5rem 0rem;
}
.consultCnpj-paramTitle {
  font-size: 1.2rem;
  color: #464646d7;
  font-weight: 700;
  /* text-transform: uppercase; */
}
.consultCnpj-paramGroupContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
.consultCnpj-paramGroupContainer * {
  color: #464646d7;
  margin-left: 0.2rem;
}
.consultCnpj-paramGroupContainer > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.consultCnpj-paramGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* width: 10rem; */
  margin: 0px;
}
.consultCnpj-paramLabel {
  font-size: 0.9rem;
  width: auto;
  /* margin-right: 0.5rem; */
}
.consultCnpj-input {
  text-align: center;
  width: 97%;
  color: #464646d7;
  transition: all .15s linear;
  border: 0.5px solid #e3e3e3;
  font-size: 0.9rem;
  height: 1.45rem;
  margin-left: 5px;
  padding: 0px;
}
.consultCnpj-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(112, 112, 112, 0.25);
}
.cnpj-input { width: 9rem; }
.consultCnpj-paramGroupBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 50vw;
}
.consultCnpj-paramGroupBtns button {
  margin-top: 0.5rem;
  height: 1.6rem;
  width: 6rem;
  color: #464646d7;
}
.consultCnpj-paramGroupBtns button:first-child {
  margin-right: 1rem;
}
.consultCnpj-dataContainer {
  background-color: #f1f1f1;
  display: flex;
  padding: 2rem;
}
.consultCnpj-dataContent {
  width: 100%;
  height: 72vh;
  background-color: #fbfbfb;
  text-align: center;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.consultCnpj-dataGroup {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  margin: 0.3rem 0rem;
}
.consultCnpj-dataGroup > * {
  font-size: 0.9rem;
  color: #323232d8;
}
.consultCnpj-dataGroup > span { font-weight: 700; }
.consultCnpj-dataGroup > div {
  background-color: #f1f1f1;
  padding: 0.2rem;
  margin-left: 0.5rem;
  border: 0.5px inset #e3e3e3;
}
.consultCnpj-dataContentSeparator {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  color: #323232;
  font-weight: 700;
}
.consultCnpj-atvSec, .consultCnpj-socios {
  flex-direction: column;
  align-items: flex-start;
}
.consultCnpj-atvSec > div, .consultCnpj-socios > div {
  margin: 0px;
}
.consultCnpj-socioGroup { padding: 0rem 0.5rem; }
.consultCnpj-socioGroup > span { font-weight: 700; }
/* .consultCnpj-socioGroup:nth-child(2) {
  margin-bottom: 1rem;
} */
.consultCnpj-atvSec > span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  cursor: pointer;
  border: 0.5px outset #e3e3e3;
}
/*********** CONSULTA CNPJ PC ***********/






/****************************************************/
/********************** MOBILE **********************/
/****************************************************/
@media screen and (max-width: 1023px) {
  /*********** LOGIN MOBILE ***********/
  .login-loginContainer { width: 80vw; }
  .login-title { font-size: 3.5rem; }
  .login-subtitle { font-size: 1.5rem; }
  .login-separator { margin: 1.5rem 0px; }
  .login-formInput {
    font-size: 1.3rem;
    height: 50px;
    width: 98%;
  }
  .login-loginBtn {
    margin-top: 0rem;
    font-size: 1.5rem;
    height: 60px;
  }
  /*********** LOGIN MOBILE ***********/

  /*********** HOME MOBILE ***********/
  .home-containerPc { display: none; }
  .home-containerMobile {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  /*********** HOME MOBILE ***********/

  /*********** PAGAMENTOS ECAC MOBILE ***********/
  .pgtoEcac-containerPc { display: none; }
  .pgtoEcac-containerMobile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .pgtoEcac-paramContainer {
    width: 100vw;
    margin: 0px;
    margin-top: 8vh;
    /* margin-right: 0.5rem; */
  }
  .pgtoEcac-header {
    width: 100%;
    padding: 0px;
    padding-top: 0.6rem;
  }
  .pgtoEcac-paramTitle {
    font-size: 2rem;
    /* text-transform: uppercase; */
  }
  .pgtoEcac-paramGroupContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
    padding: 2rem 0.6rem;
    padding-bottom: 0px;
  }
  .pgtoEcac-paramGroupContainer > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .pgtoEcac-paramGroup {
    height: auto;
    flex-direction: column;
  }
  .pgtoEcac-paramLabel {
    height: 3rem;
    font-size: 2rem;
    width: auto;
  }
  .pgtoEcac-input {
    height: auto;
    font-size: 2rem;
    width: 50vw;
    margin-bottom: 1.5rem;
  }
  .certify-input { width: 90vw; }
  .initDate-input, .endDate-input {
    width: 35vw;
  }
  .pgtoEcac-paramGroupBtns {
    width: 100%;
    
    margin-bottom: 2rem;
  }
  .pgtoEcac-paramGroupBtns button {
    width: 30vw;
    font-size: 2rem;
    height: 3rem;
  }
  .pgtoEcac-dataTable th{
    height: 1rem;
    font-size: 1.8rem;
    padding: 0px;
  }
  .pgtoEcac-dataTable td {
    font-size: 1.5rem;
  }
  .pgtoEcac-dataTableIcon {
    height: 1.5rem;
  }
  /*********** PAGAMENTOS ECAC MOBILE ***********/

  /*********** CONSULTA CNPJ MOBILE ***********/
  .consultCnpj-containerPc { display: none; }
  .consultCnpj-containerMobile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .consultCnpj-paramContainer {
    width: 100vw;
    margin: 0px;
    margin-top: 8vh;
    /* margin-right: 0.5rem; */
  }
  .consultCnpj-header {
    width: 100%;
    padding: 0px;
    padding-top: 0.6rem;
  }
  .consultCnpj-paramTitle {
    font-size: 2rem;
    /* text-transform: uppercase; */
  }
  .consultCnpj-paramGroupContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
    padding: 2rem 0.6rem;
    padding-bottom: 0px;
  }
  .consultCnpj-paramGroupContainer:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .consultCnpj-paramGroup {
    height: auto;
    flex-direction: column;
  }
  .consultCnpj-paramLabel {
    height: 3rem;
    font-size: 2rem;
    width: auto;
  }
  .consultCnpj-input {
    height: auto;
    font-size: 2rem;
    width: 50vw;
    margin-bottom: 1.5rem;
  }
  .certify-input { width: 90vw; }
  .initDate-input, .endDate-input {
    width: 35vw;
  }
  .consultCnpj-paramGroupBtns {
    width: 100%;
    margin-bottom: 2rem;
  }
  .consultCnpj-paramGroupBtns button {
    width: 30vw;
    font-size: 2rem;
    height: 3rem;
  }
  .consultCnpj-dataGroup * {
    font-size: 1.4rem;
  }
  .consultCnpj-dataGroup:nth-child(9) {
    margin-left: 7rem;
  }
  .consultCnpj-dataContentSeparator {
    font-size: 1.8rem;
  }
  .consultCnpj-atvSec > span {
    margin-left: 2rem;
  }
  /*********** CONSULTA CNPJ MOBILE ***********/

  /*********** MENU MOBILE ***********/
  .menu-container {
    position: inherit;
    width: 100vw;
    height: auto;
    overflow: auto;
    background-color: #ca3b3a;
  }
  .menu-titleContainer {
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 2;
    background-color: #ca3b3a;
  }
  .menu-title { font-size: 4rem; }
  .menu-separator { margin: 2rem auto 1rem auto; }
  .menu-panel {
    width: 100vw;
    /* height: 100vh; */
    z-index: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8rem;
    position: absolute;
    /* background-color: #ca3b3a; */
    /* padding-bottom: 10vh; */
  }
  .menu-spacer {
    width: 100vw;
    height: 3rem;
    /* background-color: #f1f1f1; */
  }
  .menu-navGroup {
    background-color: #ca3b3a;
    width: 100vw;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    transition: all .15s linear;
    /* margin-bottom: -2rem; */
  }
  .menu-navGroupLabel {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    color: #fffcfc;
  }
  .menu-navBtn {
    transition: all .15s linear;
    width: 100vw;
    height: 8rem;
    display: flex;
    /* min-height: 16.63vh; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    background-color: #ca3b3a;
    /* border-radius: 10%; */
    /* padding-left: 5rem; */
    margin: 0px;
    padding: 0px;
    /* box-shadow: 0.5rem 1rem 2rem rgb(84 0 0 / 50%); */
  }
  .menu-navIcons, .menu-navIconTitle {
    width: 1.6rem;
    position: absolute;
    margin: 0px;
    right: 3rem;
    filter: brightness(0) invert(1);
    /* transform: rotate(180deg); */
  }
  .menu-navIconTitle {
    right: 11rem;
    top: 2.6rem;
  }
  .menu-navLabel {
    font-size: 1.9rem;
    font-weight: 200;
    text-align: center;
    color: #fffcfcdf;
  }
  /*********** MENU MOBILE ***********/
}